plink
plink2
perf.data
perf.data.old
out.perf

tskit_env/
prettify*
plink/
plink2/
**/*.log
ld_matrix.txt
*.bed
*.bim
*.fam
*.log
*.nosex
*.vcf
maf_ld_stats/
gdb.txt
pheno_gxe/
causal_snp_add.txt
gcta/
*.vcor
*e+*
heatmap.py
external/Simulator
external/GENIE
external/FlameGraph

# ignore data, except for data/demo/, but still ignore data/demo/*.vcf

data/*
!data/demo/
data/demo/*.vcf

gmon.out
logs/*
palette.map
